.offer-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: none;
  .pictCol {
    width: 60%;
  }
  .react-multi-carousel-list {
    height: 100%;
  }
  .react-multi-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pictCol img {
    height: 600px;
    object-fit: cover;
  }
  .offerDetailsCol {
    height: 600px;
    background-color: white;
    width: 40%;
    padding: 2rem;
    min-width: 400px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    .price {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .details {
      flex-direction: column;
      display: flex;
      gap: 0.4rem;
      div {
        display: flex;
        p {
          color: lightgray;
          width: 50%;
        }
      }
    }
    hr {
      background-color: lightgrey;
      height: 1px;
      border: 0;
      width: 100%;
    }
    .name {
      font-weight: bold;
    }
    .desc {
      color: lightgray;
    }
    .owner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;
      .avatar img {
        height: 48px;
        border-radius: 5px;
      }
    }
    button {
      width: 100%;
    }
  }
}
