.listOffers {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  a {
    text-decoration: none;
  }
}
nav {
  margin: 10px 0;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
  .numberResponses {
    margin-right: auto;
    border: 1px solid var(--vinted-green);
    border-radius: 5px;
    height: 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 0 1rem;
    color: var(--vinted-green);
  }
  .pages {
    display: inline-flex;
    gap: 4px;
    li {
      border: 1px solid lightgray;
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        background-color: var(--vinted-green);
        color: white;
      }
    }
  }
}
