form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  padding: 40px;
  margin: auto;
  accent-color: var(--vinted-green);

  h2 {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
  }

  input,
  textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid lightgrey;
    padding-left: 10px;
    padding-top: 6px;
    min-height: 30px;
    height: 100%;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;

    &::placeholder {
      color: transparent;
    }

    &:focus-visible {
      outline: none;
      border-bottom: 2px solid var(--vinted-green);
    }
    &[type="file"] {
      opacity: 0;
      height: 0;
      width: 0;
      padding: 0;
      min-height: 0;
    }
  }
  label:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: var(--vinted-green);

    input {
      border: 4px solid var(--vinted-green);
      width: 25px;
      height: 25px;
    }
  }

  label:has(input:not([type="checkbox"]), textarea) {
    flex: 0;
    position: relative;

    span {
      position: absolute;
      color: var(--vinted-green);
      font-size: 16px;
      top: 6px;
      left: 10px;
    }
    em {
      position: absolute;
      color: var(--vinted-green);
      font-size: 16px;
      right: 0;
      top: 6px;
    }
    &:has(
        input:not([type="checkbox"]):not(:placeholder-shown),
        textarea:not(:placeholder-shown)
      )
      span {
      font-size: 12px;
      top: -20px;
      color: var(--vinted-green);
      left: 0px;
    }

    &:has(textarea) {
      flex: 3;
    }
  }

  a {
    color: var(--vinted-green);
    text-decoration: none;

    p {
      text-align: center;
    }
  }

  .error {
    background-color: pink;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    color: darkred;
    font-size: 0.8rem;
  }
}
