.publishForm section {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0 0 5px lightgray;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  padding: 40px;
  margin: auto;
  accent-color: var(--vinted-green);

  &.upload {
    align-items: center;
    justify-content: center;

    .btn {
      text-wrap: nowrap;
    }
  }

  .preview {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
}
