.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(76, 76, 76, 0.403);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100000000;

  .modalWindow {
    border: 1px solid darkgrey;
    background-color: white;
    border-radius: 10px;
    cursor: auto;
    position: relative;
    &:hover {
      box-shadow: 0px 0px 7px white;
    }
  }
  .modalContent {
    max-height: 75vh;
    overflow-y: auto;
  }
}
.closeButton {
  border: 1px solid darkgrey;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: -1.8rem;
  top: -1.8rem;
  background-color: white;

  &:hover {
    box-shadow: 0px 0px 7px white;
  }
}
