header {
  border-bottom: 1px solid lightgrey;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;

  img {
    margin-right: auto;
  }
  & > span {
    display: flex;
    gap: 10px;
  }
  label {
    position: relative;
  }
  input {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid lightgrey;
    padding-right: 2rem;
    & + svg {
      fill: lightgrey;
      position: absolute;
      right: 0.6rem;
      top: 0.6rem;
    }
  }
  label.range {
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 0.8rem;
    color: grey;
    width: 300px;
    align-self: self-end;
    padding-bottom: 0.5rem;

    & * {
      transition: none;
    }
    .range-slider {
      width: 237px;
    }
    .input-range__slider,
    .input-range__track--active,
    .input-range__label-container {
      background-color: var(--vinted-green);
      border-color: var(--vinted-green);
    }
    .input-range__label-container {
      color: white;
      font-size: 0.7rem;
      padding: 0.2rem;
      border-radius: 0.2rem;
    }
    .input-range__label--min,
    .input-range__label--max {
      display: none;
    }
  }

  label.switchLabel {
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 0.8rem;
    color: grey;
    width: 130px;
  }
}
