.offerCard {
  flex: 1;

  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  box-shadow: 2px 2px 5px rgb(237, 237, 237);
  color: black;
  align-items: flex-start;
  height: 100%;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 3px;

  &:hover {
    box-shadow: 2px 2px 5px lightgray;
  }
  .name {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
  }
  img {
    width: calc(100%);
    height: 300px;
    object-fit: cover;
  }
  .price {
    height: 0.78rem;
  }
  .detail {
    color: lightgrey;
    font-size: 0.8rem;
  }
  .entete {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.8rem;
    color: lightgray;
    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
      border-radius: 16px;
    }
  }
}
