form#SignupForm {
  .newletter {
    display: flex;
    align-items: center;

    & + p {
      font-size: 0.9rem;
      color: lightgrey;
    }
    input[type="checkbox"] {
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
    }
  }
}
