@import "./assets/css/buttons.css";

@import "./assets/css/forms.css";

* {
  transition: all 0.3s ease-in-out;
}

:root {
  font-size: clamp(12px, 2.5vw, 18px);
  --header-height: 3rem;
  --vinted-green: #2fb0ba;
  --alert: rgb(198, 7, 7);
  font-family: sans-serif;
}

body {
  height: 100vh;
}

strong {
  font-weight: 600;
}

main .container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem;
}

#root {
  &.with-bg {
    background-color: #ebedee;
  }
  
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  main {
    flex: 1;
  }
}

@media (width > 768px) {
  main .container {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    height: 100%;
    & > * {
      flex: 1;
    }
  }
}

@media (width > 1280px) {
  main .container {
    padding: 0 0rem;
  }
}
