@import "./assets/css/buttons.css";
@import "./assets/css/forms.css";
* {
  transition: all 0.3s ease-in-out;
}
:root {
  font-size: clamp(12px, 2.5vw, 18px);
  --header-height: 3rem;
  --vinted-green: #2fb0ba;
  --alert: rgb(198, 7, 7);
  font-family: sans-serif;
}
body {
  height: 100vh;
}
strong {
  font-weight: 600;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.with-bg {
  background-color: #ebedee;
}

@media (width > 768px) {
  main .container {
    display: flex;
    padding: 2rem 0;
    gap: 3.5rem;
    height: calc(100vh - var(--header-height));

    & > * {
      flex: 1;
    }
  }
}
